<md-dialog>
    <form>
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add access tokens</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.hide()">
                <i class="material-icons icon-button-adjust">close</i>
            </md-button>
        </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <md-input-container flex ng-if="ctrl.askFor === 'particle' || ctrl.askFor === 'all'">
                <label>Particle</label>
                <input id="particle-token" ng-model="ctrl.particleToken" name="particleToken">
            </md-input-container>
            <p></p>
            <md-button class="md-raised md-accent" ng-click="ctrl.saveTokens()" flex>Save</md-button>
            <md-button class="md-raised" ng-click="ctrl.login()" flex>Login</md-button>
        </md-dialog-content>
    </form>
</md-dialog>