<md-content layout-padding>
    <h2 flex>Dashboard</h2>
    <p ng-if="ctrl.isNewUser()" flex>Please enter name and tokens to continue.</p>
    <form flex>
        <md-input-container flex>
            <label>Email</label>
            <input ng-model="ctrl.email" name="userEmail" type="email">
        </md-input-container>
        <div layout="row" flex>
            <md-input-container flex>
                <label>First Name</label>
                <input ng-model="ctrl.firstName">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="ctrl.lastName">
            </md-input-container>
        </div>
        <h3>Access Tokens</h3>
        <md-input-container flex>
            <label>Particle</label>
            <input ng-model="ctrl.tokens.particle" name="particleToken">
        </md-input-container>
        <p></p>
        <div layout="row" flex>
            <md-button class="md-raised md-accent" ng-click="ctrl.saveInfo()">Save</md-button>
            <div flex></div>
            <md-button class="md-raised md-warn" ng-click="ctrl.logout()">Logout</md-button>
        </div>
    </form>
</md-content>