<md-dialog>
    <md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Login</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.hide()">
            <i class="material-icons icon-button-adjust">close</i>
        </md-button>
    </div>
    </md-toolbar>
    <md-dialog-content layout="column">
        <form layout="column">
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="ctrl.email">
            </md-input-container>
            <md-input-container flex>
                <label>Password</label>
                <input ng-model="ctrl.password" type="password">
            </md-input-container>
            <div layout="row" layout-align="end center">
                <small><a href ng-click="ctrl.resetPassword()">Reset Password</a></small>
            </div>
            <p></p>
            <md-button class="md-raised md-accent" ng-click="ctrl.login()" flex>Login</md-button>
        </form>
        <md-divider class="spacer-sm"></md-divider>
        <md-button class="md-raised" ng-click="ctrl.signup()" flex>Signup</md-button>
    </md-dialog-content> 
</md-dialog>